<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MyApplication"
        android:label="@string/app_name">
        <activity
            android:name=".settings_screen.SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".focus_screen.WhitelistActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".main_screen.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".focus_screen.FocusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            android:exported="false" />
        <activity android:name=".settings_screen.WhiteListChooserActivity" />

        <receiver android:name=".focus_screen.SystemButtonBR" />
        <receiver android:name=".main_screen.ReminderBroadcast" />
    </application>

</manifest>